body {
    margin: 0;
    padding: 0;
}

nav {
    /* height: 200px;
    background-color: #282e34; */
    color: white;
}


li {
    color: white;
    display: inline;
    font-size: 20px;
    list-style-type: none;   
}


.index {
    /* float: right; */
    margin-left: -40px;
    margin-top: -40px;
}

.hmls, .navfit, .employ {
    /* float: center; */
    margin-top: -50px;
    margin-left: 20px;
    padding: 10px;
}



.about {
    padding: 50px;
}

.container {
    color: white;
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1453683685760-b8db0bbb8dc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    text-shadow: 1px 1px black;
    text-align: center;
}

.jumbotron h1 {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

.thumbnail {
    text-align: center;
    border: 2px black;
}

.jumbotron-two {
    border-radius: 10px;
    background-color: black;
    text-align: center;
    text-shadow: 1px 1px blue;
}

.jumbotron-two h1 {
    text-shadow: 1px 1px blue;
}

.pledge {
    padding-top: 20px;
}

/* .flex-container {
    margin-bottom: -20px;
} */

/* #video-container {
    height: 50vh;
}

#main-video {
    height: 100px;
} */

/* .video {
    height: 100px;
    width: 100px;
    border: 1px black;
    border-radius: 10px;
    padding: 20px;
    margin-right: 250px;
} */

/* .pledge {
    color: black;
    text-shadow: 1px 1px grey;
    font-size: 20px;
    float: right;
    text-align: center;
    padding: 55px;
    margin-top: 50px;
} */

footer {
    margin-top: 50px;  
}

.well {
    color: white;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 2px black;
    height: 75px;
    background-image: url("https://images.unsplash.com/photo-1542122677719-3a7a95111019?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1085&q=80");
    background-size: cover; 
    padding: 40px; 
}

.who {
    font-size: 60px;
    text-align: center;
}

/* .listback {
    
    background-image: url("https://p1.pxfuel.com/preview/888/964/13/track-track-and-field-sports-fitness-race-sprint-royalty-free-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */












